@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: black black;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: black;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 14px;
  border: 1px solid black;
}
html{
  background-color: black;
}